<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Location</th>
      <th>Description</th>
      <th>Weather</th>
      <th>Images</th>
    </tr>
  </thead>
  <tbody> 
    {{#each site.places}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{category}}
        </td>
        <td>
          {{location}}
        </td>
        <td>
          {{description}}
        </td>
        <td>
          {{weather}}
        </td>
        <td>
           {{images}} 
        </td>
        <td>
        <a href="/site/{{../site._id}}/deleteplace/{{_id}}" class="button">
         <i class="fa-solid fa-trash-can"></i>
        </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
